page-bonding-cards {
  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-card {
      height: 30em;
      width: 20em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2em;
      ion-icon {
        font-size: 10em;
      }
      position: absolute;
      &:nth-child(1) {
        transform: translate(-5px,-15px);
      }
      &:nth-child(2) {
        transform: translate(-10px,-10px);
      }
      &:nth-child(3) {
        transform: translate(-15px,-15px);
      }
      &:nth-child(4) {
        transform: translate(-20px,-20px);
      }
    }
  }
}
