page-bonding-cards {
  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .card-deck {
      height: 30em;
      width: 20em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2em;
    }
    ion-icon {
      font-size: 10em;
    }
  }
}
