<ion-header>
  <ion-navbar color="home">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <scope [scope]="scope" (changed)="setScope($event)"></scope>
      Habits
    </ion-title>
    <ion-buttons end>
      <!-- TODO: Fixing issue: The selectScope is needed because the ion-buttons stop click propagation somehow! -->
      <button ion-button icon-only (click)="selectScope()">
        <scope [showIcon]="true" [showText]="false"></scope>
      </button>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-item-divider color="light">
    <ion-icon [name]="icons.ROUTINE"></ion-icon>
    Routines
    <ion-icon item-right [name]="icons.ORDER" (click)="toggleReorder()" padding-right></ion-icon>
    <ion-icon item-right [name]="icons.CREATE" (click)="createRoutine()"></ion-icon>
  </ion-item-divider>
  <div *ngIf="!loading && routines">
      <ion-list [reorder]="reorder" (ionItemReorder)="reorderRoutines($event)" no-margin>
        <ion-item *ngFor="let edge of routines?.edges" class="item-wrapper">
          <routine-item *ngIf="edge.node as routine" [routine]="routine" (press)="toggleReorder()" (tap)="navCtrl.push('RoutinePage', {id: routine.id})"></routine-item>
        </ion-item>
      </ion-list>
  </div>
  <ion-item-divider color="light">
    <ion-icon [name]="icons.HABITS"></ion-icon>
    Habits
    <ion-icon item-right [name]="icons.ORDER" (click)="toggleReorder()" padding-right></ion-icon>
    <ion-icon item-right [name]="icons.CREATE" (click)="createHabit()"></ion-icon>
  </ion-item-divider>
  <ng-container *ngIf="!loading && habits">
    <ion-list [reorder]="reorder" (ionItemReorder)="reorderHabits($event)" no-margin>
      <ion-item *ngFor="let edge of habits?.edges" class="item-wrapper">
        <habit-item *ngIf="edge.node as habit" [habit]="habit" (press)="toggleReorder()" [showTracker]="true" (tracked)="trackHabit(habit, $event)" (click)="navCtrl.push('HabitPage', {id: habit.id})"></habit-item>
      </ion-item>
    </ion-list>
  </ng-container>
  <div *ngIf="!loading && hero" (click)="update()">
    <ion-item-divider color="light">Notes</ion-item-divider>
    <div padding-horizontal>
      <markdown [data]="hero.routines || '...'"></markdown>
    </div>
  </div>
</ion-content>
