progress-bar {
  .progress-bar {
    height: 0.5em;
    width: 100%;
    background-color: rgba(black, 0.1);
    border-radius: 0.5em;
    .prgress-value {
      height: 0.5em;
      width: 60%;
      background-color: color($colors, background);
      border-radius: 0.5em;
    }
  }
}
