progress-bar {
  .progress-bar {
    height: 1em;
    width: 100%;
    background-color: rgba(black, 0.1);
    border-radius: 1em;
    overflow: hidden;
    .progress-value {
      float: left;
      height: 1em;
      background-color: color($colors, background);
      border-radius: 1em;
    }
  }
}
