progress-bar {
  //background-color: color($colors, mid);
  .progress-bar {
    height: 0.5em;
    width: 100%;
    background-color: rgba(black, 0.1);
    border-radius: 0.5em;
    .prgress-value {
      height: 0.5em;
      width: 60%;
      background-color: white;
      border-radius: 0.5em;
      //background-color: color($colors, light);
    }
  }
  //progress {
  //  width: 100%;
  //  background-color: transparent;
  //  border-radius: 2px;
  //  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  //}
  //progress[value]::-webkit-progress-value {
  //  //background-color: #8BC34A;
  //  background-color: #009688;
  //}
  //progress[value]::-webkit-progress-bar {
  //  background-color: transparent;
  //}

  //background-color: green;
  //background-color: #009688;
  //background-color: #8BC34A;
  //.status-bar {
  //  background-color: color($colors, area-1);
  //  //overflow: hidden;
  //  //margin: 0.5em;
  //  padding: 0.5em;
  //  //height: 2em;
  //  .progress-bar {
  //    border-radius: 0.5em;
  //    background-color: rgba(black, 0.1);
  //    .prgress-value {
  //      background-color: white;
  //      border-radius: 0.5em;
  //      width: 60%;
  //      text-align: center;
  //    }
  //  }
  //}
  //text-align: center;
}
