<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Legend</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)"
              *ngIf="(user$ | async)?.id == (currentUser$ | async)?.id">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="user" no-padding class="content" padding-bottom>
    <ion-row>
      <ion-col col-12 col-sm text-center>
        <img src="{{ user.avatar || default_image }}" (click)="updateAvatar()">
        <p (click)="updateStatus()">{{ user.status || '---' }}</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <h1>
            <span (click)="updateName()">{{ user.name }}</span>
            <span ion-text (click)="updateUsername()" color="mid">({{ user.username }})</span>
            <small (click)="updateGender()">
              <ion-icon name="male" *ngIf="user.gender == 'M'" style="color: blue;"></ion-icon>
              <ion-icon name="female" *ngIf="user.gender == 'F'" style="color: pink;"></ion-icon>
              <ion-icon name="transgender" *ngIf="user.gender == 'N'" style="color: grey;"></ion-icon>
            </small>
          </h1>
          <p text-wrap (click)="updatePurpose()">{{ user.purpose }}</p>
        </ion-item>
        <ion-item>
          Chapter
          <p item-right>{{user.level || 'Prologue'}}</p>
        </ion-item>
        <ion-item>
          Legend since
          <p item-right>{{user.dateJoined | amTimeAgo:true}}</p>
        </ion-item>
        <ion-item>
          Badges
          <p item-right>
            <ion-icon *ngIf="user.isPremium" (click)="showPremiumMessage()" [name]="icons.PREMIUM" color="journey"></ion-icon>
          </p>
        </ion-item>
        <ion-item *ngIf="user.roles?.edges?.length">
          Roles
          <div *ngFor="let edge of user.roles?.edges">
            <ion-avatar *ngIf="edge.node as role" class="stacked role-icon" (click)="navCtrl.push('RolePage', {id: role.id})">
              <img src="{{ role.icon }}" *ngIf="role.icon">
            </ion-avatar>
          </div>
        </ion-item>
        <ion-item no-lines>
          <button ion-button clear>More</button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--<ion-row>-->
    <!--<ion-col col-sm-3>-->
    <!--Hero-->
    <!--<img src="{{user.hero_image || default_hero_image}}">-->
    <!--</ion-col>-->
    <!--<ion-col col-sm-3>-->
    <!--Demon-->
    <!--<img src="{{user.demo_image || default_demon_image}}">-->
    <!--</ion-col>-->
    <!--</ion-row>-->
  </ion-grid>
  <ion-fab bottom right *ngIf="user?.id != viewer?.id">
    <button ion-fab (click)="contact()" class="quickadd-button">
      <ion-icon name="chatbubbles"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
