page-legend {
  div > .role-icon {
    margin: 5px;
  }
  .role-icon {
    background-color: color($colors, primary-100);
    border-radius: 20%;
    box-shadow: 1px 2px 2px color($colors, mid);
  }
}
