<div class="journal" *ngIf="!loading">
  <ng-container *ngIf="entry">
    <ion-item-divider color="light">
      <scoped-date [scope]="entry?.scope | lowercase" [date]="entry?.start"></scoped-date>
    </ion-item-divider>
    <div padding>
      <strong ion-text color="background-dark" class="keywords" (click)="updateKeywords()">
        {{ entry.keywords || '...' }}
      </strong>
      <markdown [data]="entry.content || '...'" (click)="updateContent()"></markdown>
    </div>
  </ng-container>
</div>
