<ion-header>
  <ion-navbar color="academy">
    <ion-title>Book</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ng-container *ngIf="!loading && book">
    <ion-item no-lines>
      <h1 class="text-wrap">
        {{ book.name }}
      </h1>
      <p>
        by {{ book.author }}
      </p>
      <h1>
        <star-rating [rating]="book.rating"></star-rating>
      </h1>
      <h1>
        <life-area-meters [area1]="50"></life-area-meters>
      </h1>
      <ion-thumbnail class="thumbnail-contained-width" item-end>
        <img [src]="book.imageUrl">
      </ion-thumbnail>
    </ion-item>
    <div padding class="content">
      <markdown [data]="book.content"></markdown>
    </div>
  </ng-container>
</ion-content>
