<ng-container [ngSwitch]="scope">
  <ion-icon *ngIf="icon" [name]="icon" [color]="color"></ion-icon>
  <ng-container *ngSwitchCase="'day'">
    <span ion-text *ngIf="scope == 'day' && showWeekday">
      {{start | amDateFormat:'ddd'}}
    </span>
    {{ start | amDateFormat:startDateFormat }}
  </ng-container>
  <ng-container *ngSwitchCase="'week'">
    {{ start | amDateFormat:startDateFormat }} - {{ end | amDateFormat:endDateFormat }}
  </ng-container>
  <ng-container *ngSwitchCase="'month'">
    {{ start | amDateFormat:'MMMM' }}
    <span *ngIf="start.slice(0, 4) != today.slice(0, 4)">
      {{start | amDateFormat:'Y'}}
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="'year'">
    {{ start | amDateFormat:'Y' }}
  </ng-container>
</ng-container>
