<ion-header>

  <ion-navbar color="manager">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Inbox
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="medkit"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button ion-button icon-only class="options-button">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="outcome" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Status</ion-label>
      <ion-select formControlName="status">
        <ion-option [value]="status" *ngFor="let status of statuses">{{status}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Scope</ion-label>
      <ion-select formControlName="scope">
        <ion-option [value]="scope" *ngFor="let scope of scopes">{{scope}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Deadline</ion-label>
      <ion-datetime formControlName="deadline"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Start</ion-label>
      <ion-datetime formControlName="start"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Content</ion-label>
      <ion-textarea formControlName="content"></ion-textarea>
    </ion-item>
    <!--<button ion-button type="submit" [disabled]="!outcome.valid">Submit</button>-->
  </form>
</ion-content>
