<ion-header>

  <ion-navbar color="community">
    <ion-title>Duos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="user$ | async as user">
    <ion-item *ngFor="let duo of duos$ | async">
      {{ duo.name }}
      <button ion-button icon-only item-right clear (click)="join(duo)">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab bottom right *ngIf="!duo$ | async">
    <button ion-fab (click)="create()" class="quickadd-button">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
