<ion-header>

  <ion-navbar color="community">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Duo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid *ngIf="duo$ | async as duo" no-padding>
    <ion-row>
      <ion-col col-sm-6 *ngFor="let member of duo.members">
        <duo-user-card [userId]="member"></duo-user-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab (click)="contact()" class="quickadd-button" *ngIf="duo$ | async">
      <ion-icon name="chatbubbles"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer>
  <app-toolbar app="community"></app-toolbar>
</ion-footer>
