<ion-header>
  <ion-navbar color="community">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="duo">{{ duo.name }} </span>
      Duo
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ng-container *ngIf="!loading">
    <ion-grid *ngIf="duo; else noDuo" no-padding>
      <ion-row>
        <ion-col col-sm-6 *ngFor="let edge of duo.members.edges">
          <duo-user-card [userId]="edge.node.id"></duo-user-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ng-template #noDuo>
      <div class="no-duo-info" text-center>
        <h1 padding>Oh, you currently don't have a Duo.</h1>
        <button ion-button (click)="chooseDuo()">Choose a Duo</button>
      </div>
    </ng-template>
  </ng-container>
</ion-content>
