<ion-header>
  <ion-navbar>
    <ion-title>Passphrase</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4 text-center>
        <div class="person" text-center>
          <img src="https://goo.gl/J3z7cv">
          <div class="name-tag">Eraldo Energy</div>
        </div>
      </ion-col>
      <ion-col col-8>
        <ion-item text-wrap no-lines class="chat-box">
          <div *ngIf="!password">
            <p>Great, <strong>{{form.value.name}}</strong>! Now you can chose a passphrase to secure your account.</p>
          </div>
          <div *ngIf="password">
            <h2>Confirmation</h2>
            <p>Please type it a second time to see if it matches.</p>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list no-lines>
      <ion-item-divider color="light">
        Your Passphrase?
      </ion-item-divider>
      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="Enter Passphrase"></ion-input>
        <button ion-button item-end color="success" [disabled]="!form.valid">
          Answer
        </button>
      </ion-item>
    </ion-list>
  </form>
  <div padding-horizontal>
    <p ion-text color="mid">
      Hint: Using 4-8 words without spaces in between.<br>
      Secure and easy to remember! :D<br>
      <a href="https://xkcd.com/936/" target="_blank">Image exampling the concept</a><br>
      <a href="http://preshing.com/20110811/xkcd-password-generator/" target="_blank">Passphrase Generator</a><br>
    </p>
  </div>
</ion-content>
