<ion-grid no-padding>
  <ion-row>
    <ion-col text-start no-padding (click)="previous()">
      <button ion-button icon-only clear>
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-col>
    <ion-col text-center no-padding>
      <button ion-button clear (click)="selectDate()">
        <scoped-date [scope]="scope" [date]="date"></scoped-date>
      </button>
    </ion-col>
    <ion-col text-end no-padding (click)="next()">
      <button ion-button icon-only clear>
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
