<ion-grid no-padding>
  <ion-row>
    <ion-col text-start no-padding col-auto>
      <button ion-button icon-only clear (click)="previous()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-col>
    <ion-col text-center no-padding>
      <date-picker></date-picker>
    </ion-col>
    <ion-col text-end no-padding col-auto>
      <button ion-button icon-only clear (click)="next()">
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
