<ion-toolbar [color]="color" (click)="showMeta()" *ngIf="status$ | async as status; else noStatus">
  <ion-buttons left>
    <button ion-button icon-only>
      <ion-icon [name]="icon"></ion-icon>
    </button>
  </ion-buttons>
  <progress-bar [value]="status.experience % 100"></progress-bar>
  <ion-buttons right>
    <button ion-button>
      <span ion-text>L{{status.level}}</span>
    </button>
  </ion-buttons>
</ion-toolbar>
<ng-template #noStatus>
  <ion-toolbar [color]="color" (click)="showMeta()">
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon [name]="icon"></ion-icon>
      </button>
    </ion-buttons>
    <progress-bar [value]="1"></progress-bar>
    <ion-buttons right>
      <button ion-button>
        <span ion-text>L?</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ng-template>
