<ion-item-divider color="light">
  <ion-icon name="locate"></ion-icon>
  Focus
  <ion-icon item-right name="create" (click)="update()" *ngIf="focus.isEditable"></ion-icon>
</ion-item-divider>
<ion-list class="focus" no-margin>
  <outcome [id]="outcome.id" *ngIf="outcome1$ | async as outcome"></outcome>
  <outcome [id]="outcome.id" *ngIf="outcome2$ | async as outcome"></outcome>
  <outcome [id]="outcome.id" *ngIf="outcome3$ | async as outcome"></outcome>
  <outcome [id]="outcome.id" *ngIf="outcome4$ | async as outcome"></outcome>
</ion-list>
