<ion-header>
  <ion-navbar>
    <ion-title>Select Tags</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-list *ngIf="!loading">
    <ng-container *ngFor="let edge of tags?.edges">
      <button ion-item *ngIf="edge.node as tag" icon-start (click)="navCtrl.push('TagPage', {id: tag.id})">
        <ion-label>
          <ion-icon name="pricetag" color="mid"></ion-icon>
          {{ tag.name}}
        </ion-label>
        <ion-checkbox [checked]="selected.indexOf(tag.id) > -1" (ionChange)="toggle(tag.id, $event)" item-end></ion-checkbox>
      </button>
    </ng-container>
  </ion-list>
</ion-content>
