<ion-header>
  <ion-navbar>
    <ion-title>Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4 text-center>
        <div class="person" text-center>
          <img src="assets/images/welcome-avatar.jpg">
          <div class="name-tag">Eraldo Energy</div>
        </div>
      </ion-col>
      <ion-col col-8>
        <ion-item text-wrap no-lines class="chat-box">
          <div *ngIf="!error">
            <h2>Welcome back!</h2>
            <p>
              Speak the magic words and enter. :)
            </p>
          </div>
          <div *ngIf="error">
            <p>
              Oups! Something went wrong.<br>
              Please try again,<br>
              reset your password<br>
              or contact support.
            </p>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list no-lines>
      <ion-item-divider color="light">
        What is your password?
        <button *ngIf="error" ion-button (click)="reset()" type="button" clear item-end>Reset</button>
      </ion-item-divider>
      <ion-item>
        <ion-input #passwordInput type="password" formControlName="password" placeholder="Enter Password"></ion-input>
        <button ion-button item-end color="success" [disabled]="!form.valid">
          Answer
        </button>
      </ion-item>
      <!--<button ion-button type="submit" block color="success">-->
        <!--Answer-->
      <!--</button>-->
    </ion-list>
  </form>
</ion-content>
