<ion-header>
  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Journal Entry</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div class="journal" *ngIf="!loading">
    <ng-container *ngIf="entry">
      <ion-item-divider color="light">
        {{ entry.start }}
        <span item-end>{{ entry.scope }}</span>
      </ion-item-divider>
      <div padding>
        <span ion-text color="background-dark" class="keywords">{{ entry.keywords }}</span>
        <markdown [data]="entry.content"></markdown>
      </div>
    </ng-container>
  </div>
</ion-content>
