<ion-header>
  <ion-navbar color="office">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <scope></scope>
      Outcomes
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="search-button">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showFilters()" class="filter-button">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only class="options-button">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="filterContent" side="right" id="filter-menu">
  <ion-toolbar>
    <ion-title>Filters</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>Scope</ion-label>
      <ion-select class="outcome-scope-select" [ngModel]="scope$ | async" (ionChange)="setScope($event.valueOf())">
        <ion-option value="{{scope}}" *ngFor="let scope of scopes">{{scope}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select class="outcome-status-select" [ngModel]="status$ | async" (ionChange)="setStatus($event.valueOf())">
        <ion-option value="{{undefined}}" [selected]="!(status$ | async)">any</ion-option>
        <ion-option value="{{status}}" *ngFor="let status of statuses">{{status}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Show completed</ion-label>
      <ion-toggle [checked]="showCompleted$ | async" (ionChange)="toggleCompleted()"></ion-toggle>
    </ion-item>
    <ion-item>
      <button ion-button menuClose="filter-menu" (click)="hideFilters()">
        Close
      </button>
    </ion-item>
  </ion-list>
</ion-menu>

<ion-content #filterContent>
  <div *ngIf="outcomes$ | async as outcomes">
    <outcomes [outcomes]="outcomes"></outcomes>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="newOutcome()" class="quickadd-button">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer>
  <app-toolbar app="office"></app-toolbar>
</ion-footer>
