<ion-header>
  <ion-navbar color="area-4">
    <ion-title>Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="event">
    <div class="media-header content" [class.includes-video]="event.videoUrl" *ngIf="event.imageUrl || event.videoUrl">
      <img *ngIf="!event.videoUrl && event.imageUrl" [src]="event.imageUrl">
      <embedded-video *ngIf="event.videoUrl" [videoUrl]="event.videoUrl" width="100%" height="100%"></embedded-video>
    </div>
    <ion-item no-lines>
      <h1>
        <ion-icon name="calendar"></ion-icon>
        {{ event.name }}
      </h1>
      <p>
        {{ event.start | date:'fullDate' }}
        <span *ngIf="event.location">@{{ event.location }}</span>
      </p>
      <p class="multiline">{{ event.description }}</p>
    </ion-item>
    <div padding class="content">
      <markdown [data]="event.content"></markdown>
    </div>
  </ng-container>
</ion-content>
