<ion-card *ngIf="user$ | async as user">
  <user-item [userId]="user.id"></user-item>
  <ion-item>
    <button ion-button icon-left item-left clear (click)="contact()" *ngIf="user.id != (currentUser$ | async )?.id">
      <ion-icon name="chatbubbles"></ion-icon>
      Contact
    </button>
    <button ion-button icon-left item-right clear>
      <ion-icon name="locate"></ion-icon>
      Day Focus
    </button>
  </ion-item>
  <focus [focus]="focus" *ngIf="focus$ | async as focus"></focus>
</ion-card>
