<ion-header>
  <ion-navbar>
    <ion-title>Roles</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="!loading">
    <ng-container *ngFor="let edge of roles">
      <button ion-item *ngIf="edge.node as role" (click)="navCtrl.push('RolePage', {id: role.id})">
        <ion-avatar item-start class="role-icon">
          <img src="{{ role.icon }}" *ngIf="role.icon">
        </ion-avatar>
        <span>{{ role.name }}</span>
        <p>{{ role.nickname }}</p>
        <ion-avatar item-end *ngFor="let edge of role.users?.edges">
          <img src="{{ user.avatar }}" *ngIf="edge.node as user">
        </ion-avatar>
      </button>
    </ng-container>
  </ion-list>
</ion-content>
