<ion-header>
  <ion-navbar color="community">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="tribe">{{ tribe.name }} </span>
      Tribe
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="tribe; else noTribe">
      <ng-container *ngFor="let edge of tribe.members.edges">
        <tribe-user-item [userId]="edge.node.id"></tribe-user-item>
      </ng-container>
    </ng-container>
    <ng-template #noTribe>
      <div class="no-tribe-info" text-center>
        <h1 padding>Oh, you currently don't have a Tribe.</h1>
        <button ion-button (click)="chooseTribe()">Choose a Tribe</button>
      </div>
    </ng-template>
  </ng-container>
</ion-content>

<ion-footer>
  <app-toolbar app="community"></app-toolbar>
</ion-footer>
