<ion-header>
  <ion-navbar color="home">
    <ion-title>Habit</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon [name]="icons.STREAK" color="area-3"></ion-icon>
        <span ion-text color="area-3">{{ habit?.streak }}</span>
      </button>
      <button *ngIf="!habit?.isControlled" ion-button icon-only (click)="delete()">
        <ion-icon [name]="icons.DELETE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div *ngIf="!loading && habit" class="content">
    <ion-list no-margin no-lines>
      <habit-item [habit]="habit" [active]="true" [showTracker]="true" (tracked)="track($event)"></habit-item>
    </ion-list>
    <ion-list margin-left>
      <ion-chip (click)="updateActive()">
        <ion-icon [name]="icons.DISABLED"></ion-icon>
        <ion-label>{{ habit.isActive ? 'on' : 'off' }}</ion-label>
      </ion-chip>
      <ion-chip (click)="updateScope()">
        <ion-icon [name]="icons.SCOPE"></ion-icon>
        <ion-label>{{ habit.scope.toLowerCase() | titlecase }}</ion-label>
      </ion-chip>
      <ion-chip (click)="updateDuration()">
        <ion-icon [name]="icons.DURATION"></ion-icon>
        <ion-label *ngIf="habit.duration">{{ habit.duration }}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="habit.isControlled">
        <ion-icon [name]="icons.COLEGEND"></ion-icon>
        <ion-label>controlled</ion-label>
      </ion-chip>
      <ion-chip *ngIf="habit.streakMax >= 21">
        <ion-icon [name]="icons.STAR" color="area-3"></ion-icon>
        <ion-label>{{ habit.streakMax }} Streak</ion-label>
      </ion-chip>
    </ion-list>
    <div padding-horizontal class="content" (click)="updateContent()">
      <markdown [data]="habit.content || '...'"></markdown>
    </div>
    <ion-item-group *ngIf="habit.routines.edges.length">
      <ion-item-divider color="light">
        <ion-icon [name]="icons.ROUTINE"></ion-icon>
        Routines
      </ion-item-divider>
      <routine-item *ngFor="let edge of habit.routines.edges" [routine]="edge.node" (click)="navCtrl.push('RoutinePage', {id: edge.node.id})"></routine-item>
    </ion-item-group>
    <ion-item-group *ngIf="habit.reminders.edges.length">
      <ion-item-divider color="light">
        <ion-icon [name]="icons.SCHEDULE"></ion-icon>
        Reminders
      </ion-item-divider>
      <ion-item [id]="edge.node.id" *ngFor="let edge of habit.reminders.edges">
        {{ edge.node.time }}
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="habit.tracks.edges.length">
      <ion-item-divider color="light">
        <!--<ion-icon [name]="icons.SCHEDULE"></ion-icon>-->
        Tracks
      </ion-item-divider>
      <ion-item [id]="edge.node.id" *ngFor="let edge of habit.tracks.edges">
        {{ edge.node.created | amCalendar }}
        <ion-icon *ngIf="!habit.isControlled" [name]="icons.DELETE" color="mid" (click)="deleteTrack(edge.node)" item-right></ion-icon>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>
