<ion-header>

  <ion-navbar>
    <ion-title>Prologue</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding-horizontal>
    <typewriter>
      <p>
        <span class='story-initial-letter'>O</span>nce upon a time .<tw-pause [ms]="500"></tw-pause> .<tw-pause [ms]="500"></tw-pause> .<tw-pause [ms]="1000"></tw-pause> <br>
        somewhere <span *ngIf="country">in {{ country }}</span><span *ngIf="!country">on planet earth</span> <tw-pause [ms]="500"></tw-pause>
        on a <i>special</i> <tw-pause [ms]="200"></tw-pause>{{ weekday }} {{ time_of_day }}...<tw-pause [ms]="1000"></tw-pause>
        <br>
        <tw-speed [ms]="10"></tw-speed>
        Not knowing what exactly to expect,<tw-pause [ms]="200"></tw-pause> a courageous person has decided to take action and leap into<tw-pause [ms]="500"></tw-pause>
        a new world. <br>
        <tw-speed [ms]="1000"></tw-speed>
        A magical one it turns out...<tw-pause [ms]="500"></tw-pause> <br>
        Where<tw-pause [ms]="400"></tw-pause> both <i>heroes</i> and <i>demons</i> can celebrate.<tw-pause [ms]="400"></tw-pause> <br>
        Where<tw-pause [ms]="400"></tw-pause> matters of right or wrong are cast aside in favor of mutual interest.<tw-pause [ms]="400"></tw-pause> <br>
        Where<tw-pause [ms]="400"></tw-pause> instead of defending their point of view, they name their needs and ask for support.<tw-pause [ms]="400"></tw-pause> <br>
        Where<tw-pause [ms]="400"></tw-pause> loneliness is merely an option that can be chosen at will.<tw-pause [ms]="400"></tw-pause> <br>
        Where<tw-pause [ms]="400"></tw-pause> every person is a designer and author of life.<tw-pause [ms]="400"></tw-pause> <br>
        <br>
        The time has come to open eyes and heart to a new life experience<tw-pause [ms]="500"></tw-pause> and a new way of community. <br>
        <br>
        Our fellowship started out small: First there was the seed of an idea, slowly becoming a small plant,
        stretching and drinking in the sunlight.<tw-pause [ms]="400"></tw-pause> <br>
        With every member that joins,<tw-pause [ms]="500"></tw-pause> we grow into a bigger tree with even more delicious "fruit". <br>
        We already thank you for<tw-pause [ms]="300"></tw-pause> your courage and energy<tw-pause [ms]="300"></tw-pause> and wish you,
        <strong><tw-speed [ms]="400"></tw-speed>{{ typed_username }}<tw-speed [ms]="50"></tw-speed></strong>, a happy harvest. <br>
        <br>
        <span class="text-info">
              [You start to wonder<tw-pause [ms]="100"></tw-pause> what<tw-pause [ms]="200"></tw-pause> he<tw-pause [ms]="100"></tw-pause>?<tw-pause [ms]="200"></tw-pause> or<tw-pause [ms]="100"></tw-pause> she<tw-pause [ms]="100"></tw-pause>?<tw-pause [ms]="200"></tw-pause> is talking about.]<tw-pause [ms]="300"></tw-pause> <br>
              [Feeling as if you open your eyes for the first time,<tw-pause [ms]="300"></tw-pause> you take a look around.]<tw-pause [ms]="600"></tw-pause> <br>
              </span>
        <br>
        You stand in a forest at a clearing and right in the middle of it,
        you see a marvelously growing tree.<tw-pause [ms]="300"></tw-pause> .<tw-pause [ms]="300"></tw-pause> .<tw-pause [ms]="1000"></tw-pause> <br>
        <br>
      </p>
    </typewriter>
  </div>
</ion-content>

