<ion-spinner *ngIf="loading"></ion-spinner>
<super-tabs *ngIf="!loading" class="main-tabs" tabsPlacement="bottom" toolbarBackground="arcade" toolbarColor="light" indicatorColor="light" [config]="{ sideMenu: 'both'}">
  <super-tab root="AdventuresPage" title="Adventures" [icon]="icons.ADVENTURES" tabUrlPath="adventures-tab"></super-tab>
  <super-tab root="GamesPage" title="Games" [icon]="icons.GAMES" tabUrlPath="games-tab"></super-tab>
  <super-tab root="ContestsPage" title="Contests" [icon]="icons.CONTESTS" tabUrlPath="contests-tab"></super-tab>
  <super-tab root="ShopPage" title="Shop" [icon]="icons.SHOP" tabUrlPath="shop-tab"></super-tab>
</super-tabs>
<app-toolbar app="arcade"></app-toolbar>
