<ion-header>

  <ion-navbar color="primary">
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngFor="let edge of news">
    <ion-card color="area-6" *ngIf="!loading && edge.node as news" (click)="navCtrl.push('NewsItemPage', {id: news.id})">
      <img src="{{ news.imageUrl }}"/>
      <ion-card-content>
        <ion-card-title icon-left>
          <ion-icon name="paper"></ion-icon>
          {{ news.name }}
        </ion-card-title>
        <p>
          {{ news.date | date:'fullDate' }}
          <span *ngIf="news.author">by {{ news.author.name }}</span>
        </p>
        <p class="multiline">{{ news.description }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
