<ion-spinner *ngIf="loading"></ion-spinner>
<super-tabs *ngIf="!loading" class="main-tabs" tabsPlacement="bottom" toolbarBackground="office" indicatorColor="dark" [config]="{ sideMenu: 'both'}">
  <super-tab root="AgendaPage" title="Agenda" icon="clipboard" tabUrlPath="agenda-tab"></super-tab>
  <super-tab root="OutcomesPage" title="Outcomes" icon="checkbox-outline" tabUrlPath="outcomes-tab"></super-tab>
  <super-tab root="AchievementsPage" title="Achievements" icon="medal" tabUrlPath="achievements-tab"></super-tab>
</super-tabs>
<app-toolbar app="office"></app-toolbar>
