<ion-header>
  <ion-navbar color="journey">
    <button ion-button menuToggle>
      <ion-icon [name]="icons.MENU"></ion-icon>
    </button>
    <ion-title>Demon</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon [name]="icons.MORE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="demon">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <ng-container *ngIf="!loading">
      <ion-item>
        <ion-thumbnail item-left (click)="updateAvatar()">
          <img src="{{ demon.avatar }}">
        </ion-thumbnail>
        <h1 (click)="updateName()">{{ demon.name || '...' }}</h1>
      </ion-item>
      <div (click)="update('tensions')">
        <ion-item-divider color="light">Tensions</ion-item-divider>
        <div padding-horizontal>
          <markdown [data]="demon.tensions"></markdown>
        </div>
      </div>
      <div (click)="update('fears')">
        <ion-item-divider color="light">Fears</ion-item-divider>
        <div padding-horizontal>
          <markdown [data]="demon.fears"></markdown>
        </div>
      </div>
      <div (click)="update('content', 'Description')">
        <ion-item-divider color="light">Description</ion-item-divider>
        <div padding-horizontal>
          <markdown [data]="demon.content"></markdown>
        </div>
      </div>
      <ion-item-divider (click)="processTensions()" color="light">
        <ion-icon [name]="icons.TENSION"></ion-icon>
        Tensions {{ tensions?.totalCount }}
        <ion-icon (click)="$event.stopPropagation(); addTension()" item-end [name]="icons.CREATE"></ion-icon>
      </ion-item-divider>
      <ion-item-group>
        <ng-container *ngFor="let edge of tensions?.edges">
          <!--<tension *ngIf="edge.node as tension" [id]="tension.id"></tension>-->
          <ion-item *ngIf="edge.node as tension">{{ tension.name }}
            <ion-icon (click)="deleteTension(tension.id)" [name]="icons.DELETE" item-end color="mid"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-item-group>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <span ion-text class="update-badge" color="mid"
        padding-horizontal>last update: {{ demon?.modified | amTimeAgo }}</span>
</ion-footer>
