<ion-header>
  <ion-navbar>
    <ion-title>
      Tags
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div *ngIf="!loading" padding>
    <ng-container *ngFor="let edge of tags?.edges">
      <tag *ngIf="edge.node as tag" [id]="tag.id" [name]="tag.name" (click)="navCtrl.push('TagPage', {id: tag.id})"></tag>
    </ng-container>
  </div>
  <div class="fab-bottom-spacer"></div>
  <ion-fab bottom right>
    <button ion-fab (click)="create()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
