<ion-header>
  <ion-navbar>
    <ion-title>
      Tags
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-list *ngIf="!loading">
    <ng-container *ngFor="let edge of tags?.edges">
      <button ion-item *ngIf="edge.node as tag" icon-start (click)="navCtrl.push('TagPage', {id: tag.id})">
        <ion-icon name="pricetag" color="mid"></ion-icon>
         {{ tag.name }}
      </button>
    </ng-container>
  </ion-list>
  <div class="fab-bottom-spacer"></div>
  <ion-fab bottom right>
    <button ion-fab (click)="create()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
