<ion-header>

  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Story</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngFor="let edge of chapters?.edges">
    <chapter [id]="chapter.id" *ngIf="!loading && edge.node as chapter"></chapter>
  </ng-container>
  <!--<ng-container *ngFor="let edge of chapters?.edges">-->
    <!--<ion-card class="story-font" *ngIf="!loading && edge.node as chapter">-->
      <!--<span class="timestamp" padding>{{ chapter.created | date:'MMMM y' }}</span>-->
      <!--<ion-card-content>-->
        <!--<ion-card-title icon-left *ngIf="chapter.name">-->
          <!--<span class='story-initial-letter'>{{ chapter.name.slice(0, 1) }}</span>{{ chapter.name.slice(1) }}-->
        <!--</ion-card-title>-->
        <!--<markdown [data]="chapter.content"></markdown>-->
      <!--</ion-card-content>-->
    <!--</ion-card>-->
  <!--</ng-container>-->
</ion-content>

<ion-footer>
  <app-toolbar app="studio"></app-toolbar>
</ion-footer>
