<ion-header>

  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Story</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngFor="let edge of chapters?.edges">
    <ion-card *ngIf="!loading && edge.node as chapter">
      <ion-card-content>
        <ion-card-title icon-left>
          {{ chapter.name }}
        </ion-card-title>
        <markdown [data]="chapter.content"></markdown>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer>
  <app-toolbar app="studio"></app-toolbar>
</ion-footer>
