<ion-header>
  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Story</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let edge of chapters?.edges">
    <chapter [id]="chapter.id" *ngIf="!loading && edge.node as chapter"></chapter>
  </ng-container>
  <div class="fab-bottom-spacer"></div>
  <ion-fab bottom right>
    <button ion-fab (click)="addChapter()" class="quickadd-button">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
