<ion-list *ngIf="!loading && entries.length">
  <ion-item-divider color="light">
    {{ subScope | titlecase }}s {{ start | amDateFormat:'MMM D' }}-{{ end | amDateFormat:'MMM D, YYYY' }}
  </ion-item-divider>
  <ion-item *ngFor="let entry of entries">
    <div item-left [ngSwitch]="subScope" class="date-info">
      <ion-badge *ngSwitchCase="'day'" [color]="getColor(entry.start)">
        <small>{{ entry.start | date:'EEE' }}</small>
      </ion-badge>
      <span *ngSwitchCase="'week'">
        W{{ entry.start | amDateFormat:'ww' }}
      </span>
      <span *ngSwitchCase="'month'">
        {{ entry.start | amDateFormat:'MMM' }}
      </span>
    </div>
    <span ion-text color="primary" class="text-wrap">{{ entry.keywords }}</span>
  </ion-item>
</ion-list>
