<ion-list *ngIf="!loading && entries.length">
  <ion-item-divider color="light">
    {{ subScope | titlecase }}s
    <span class="date-overview" padding-right>
      {{ start | amDateFormat:startDateFormat }} - {{ end | amDateFormat:endDateFormat }}
    </span>
  </ion-item-divider>
  <ion-item *ngFor="let entry of entries" (click)="openEntry(entry)">
    <div item-left [ngSwitch]="subScope" class="date-info">
      <span ion-text *ngSwitchCase="'day'" color="mid">
        {{ entry.start | date:'EEE' }}
      </span>
      <span *ngSwitchCase="'week'" ion-text color="mid">
        W{{ entry.start | amDateFormat:'WW' }}
      </span>
      <span *ngSwitchCase="'month'" ion-text color="mid">
        {{ entry.start | amDateFormat:'MMM' }}
      </span>
    </div>
    <span *ngIf="entry.id" ion-text class="text-wrap">{{ entry.keywords }}</span>
  </ion-item>
</ion-list>
