<ion-header>

  <ion-navbar color="community">
    <ion-title>Tribes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="user$ | async as user">
    <ion-item *ngFor="let tribe of tribes$ | async">
      {{ tribe.name }}
      <button ion-button icon-only item-right clear (click)="join(tribe)" *ngIf="!user.tribe && tribe.isOpen">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab bottom right *ngIf="!tribe$ | async">
    <button ion-fab (click)="create()" class="quickadd-button">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
