<ion-header>
  <ion-navbar color="journey">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Quest
      <span *ngIf="quest">{{ quest.order + 1 }}</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon [name]="icons.REFRESH"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ng-container *ngIf="!loading && quest">
    <div class="media-header content" [class.includes-video]="quest.videoUrl">
      <embedded-video *ngIf="quest.videoUrl" [videoUrl]="quest.videoUrl" width="100%" height="100%"></embedded-video>
    </div>
    <ion-toolbar>
      <!--<ion-buttons left>-->
        <!--<button ion-button icon-only>-->
          <!--<ion-icon name="arrow-dropleft"></ion-icon>-->
        <!--</button>-->
      <!--</ion-buttons>-->
      <ion-title text-center>{{ quest.name }}</ion-title>
      <!--<ion-buttons right>-->
        <!--<button ion-button icon-only disabled>-->
          <!--<ion-icon name="arrow-dropright"></ion-icon>-->
        <!--</button>-->
      <!--</ion-buttons>-->
    </ion-toolbar>
    <div class="content" padding>
      <markdown [data]="quest.content"></markdown>
    </div>
      <ion-list>
      <ion-item-divider color="light">
        <h2>Objectives</h2>
      </ion-item-divider>
        <ng-container *ngFor="let edge of quest.objectives?.edges">
          <ion-item *ngIf="edge.node as objective" (click)="objectiveAction(objective)">
            <ion-icon name="checkbox-outline" item-left [color]="completed.includes(objective.id) ? 'success' : 'light'"></ion-icon>
            {{ objective.name }}
            <p>
              <markdown [data]="objective.content"></markdown>
            </p>
          </ion-item>
        </ng-container>
      </ion-list>
  </ng-container>
</ion-content>
