/* latin */
$font-path: '../assets/fonts/' !default;

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito-Light"), url("../assets/fonts/Nunito/Nunito-Light.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito-Bold"), url("../assets/fonts/Nunito/Nunito-Bold.woff") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$font-default: "Nunito";

//@font-face {
//  font-family: "Ubuntu Titling";
//  src: url("#{$roboto-font-path}/Ubuntu-Titling/UbuntuTitling-Bold.woff");
//}
