@font-face {
  font-family: 'coicons';
  src: url('../assets/fonts/coicons/coicons.eot?4l1aop');
  src: url('../assets/fonts/coicons/coicons.eot?4l1aop#iefix') format('embedded-opentype'),
  url('../assets/fonts/coicons/coicons.ttf?4l1aop') format('truetype'),
  url('../assets/fonts/coicons/coicons.woff?4l1aop') format('woff'),
  url('../assets/fonts/coicons/coicons.svg?4l1aop#coicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* conversion regex:
find: \.co-([\S]*):before {\n\s*content: "(.*?)";\n}
replace: @include makeIcon($1, '$2');
 */

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //line-height: 1; => 'Tags' commponent looked broken with this enabled.

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .co-#{$arg}:before,
  .ion-ios-co-#{$arg}:before,
  .ion-ios-co-#{$arg}-outline:before,
  .ion-md-co-#{$arg}:before,
  .ion-md-co-#{$arg}-outline:before {
    content: $val;
    font-size: 1em;
  }
}

@include makeIcon(tribe, '\e903');
@include makeIcon(l-foot, '\e908');
@include makeIcon(r-foot, '\e909');
@include makeIcon(feet2, '\e90a');
@include makeIcon(feet1, '\e90b');
@include makeIcon(dice, '\e90c');
@include makeIcon(smiley, '\e90d');
@include makeIcon(apple, '\e90e');
@include makeIcon(wizard, '\e901');
@include makeIcon(notepad, '\e902');
@include makeIcon(dotted-square, '\e904');
@include makeIcon(dotted-duo, '\e905');
@include makeIcon(white-dice, '\e906');
@include makeIcon(lego, '\e907');
@include makeIcon(logo, '\e900');
