$font-path: '../assets/fonts/' !default;

@font-face {
  font-family: 'coicons';
  src: url('../assets/fonts/coicons/coicons.eot?44071947');
  src: url('../assets/fonts/coicons/coicons.eot?44071947#iefix') format('embedded-opentype'),
  url('../assets/fonts/coicons/coicons.woff2?44071947') format('woff2'),
  url('../assets/fonts/coicons/coicons.woff?44071947') format('woff'),
  url('../assets/fonts/coicons/coicons.ttf?44071947') format('truetype'),
  url('../assets/fonts/coicons/coicons.svg?44071947#coicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* conversion regex:
find: ^\.co-([\S]*):before \{\s*content: '(.*?)'; }
replace: @include makeIcon($1, '$2');
 */

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coicons' !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  //line-height: 1; => 'Tags' commponent looked broken with this enabled.

  /* Better Font Rendering =========== */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}

@mixin makeIcon($arg, $val) {
  .co-#{$arg}:before,
  .ion-ios-co-#{$arg}:before,
  .ion-ios-co-#{$arg}-outline:before,
  .ion-md-co-#{$arg}:before,
  .ion-md-co-#{$arg}-outline:before {
    content: $val;
    font-size: 1em;
  }
}

@include makeIcon(journal, '\e800'); /* '' */
@include makeIcon(quest, '\e810'); /* '' */
@include makeIcon(hero, '\e811'); /* '' */
@include makeIcon(demon, '\e812'); /* '' */
@include makeIcon(journey, '\e813'); /* '' */
@include makeIcon(gem, '\e814'); /* '' */
@include makeIcon(academy, '\e815'); /* '' */
@include makeIcon(book-club, '\e816'); /* '' */
@include makeIcon(resources, '\e817'); /* '' */
@include makeIcon(story, '\e818'); /* '' */
@include makeIcon(colegend, '\e900'); /* '' */
@include makeIcon(wizard, '\e901'); /* '' */
@include makeIcon(notepad, '\e902'); /* '' */
@include makeIcon(tribe, '\e903'); /* '' */
@include makeIcon(clan, '\e904'); /* '' */
@include makeIcon(duo, '\e905'); /* '' */
@include makeIcon(dice-outline, '\e906'); /* '' */
@include makeIcon(lego, '\e907'); /* '' */
@include makeIcon(foot-left, '\e908'); /* '' */
@include makeIcon(foot-right, '\e909'); /* '' */
@include makeIcon(steps, '\e90a'); /* '' */
@include makeIcon(feet, '\e90b'); /* '' */
@include makeIcon(dice, '\e90c'); /* '' */
@include makeIcon(smiley, '\e90d'); /* '' */
@include makeIcon(apple, '\e90e'); /* '' */
