// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #009688,
  secondary:  #C6FF00,
  danger:     #B71C1C,
  warning:    #E57373,
  info:       #1DE9B6,
  success:    #8BC34A,
  light:      #f4f4f4,
  mid:        #607D8B,
  dark:       #222,
  background: #FAFAFA,
  //background: #FEFEFE,
  background-dark: #00695C,
  // life areas
  area-1:     #E53935,
  area-2:     #FF9800,
  area-3:     #FFD600,
  area-4:     #4CAF50,
  area-5:     #00BCD4,
  area-6:     #2196F3,
  area-7:     #673AB7,
  // apps
  home:     #E53935,
  arcade:     #FF9800,
  office:     #FFD600,
  community:     #4CAF50,
  journal:     #00BCD4,
  academy:     #2196F3,
  journey:     #673AB7,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Custom fonts
@import "fonts";
$font-stack: "Nunito", "Ubuntu", Helvetica, sans-serif;
$font-family-md-base: $font-stack;
$font-family-ios-base: $font-stack;
$font-family-wp-base: $font-stack;
