<ion-item>
  <span item-left (click)="updateIcon($event)">
    {{ habit.icon }}
  </span>
  <span (click)="updateName($event)">
    {{ habit.name }}
  </span>
  <span item-right>
    <ng-container *ngIf="showTracker && habit.isActive">
      <button *ngFor="let state of habit.stats; let index = index" ion-button clear icon-only small (click)="$event.stopPropagation(); track(index)">
        <ion-icon [name]="state ? icons.TRACKED : icons.UNTRACKED" [color]="habit.isControlled || index ? 'mid': 'primary'"></ion-icon>
      </button>
    </ng-container>
  </span>
</ion-item>
