<ion-header>
  <ion-navbar color="home">
    <ion-title>Routine</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="delete()">
        <ion-icon [name]="icons.DELETE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div *ngIf="!loading && routine" class="content">
    <ion-item no-lines>
      <h1>
        <span (click)="updateName()">{{ routine.name || '...' }}</span>
      </h1>
    </ion-item>
    <ion-list margin-left>
      <ion-chip (click)="updateScope()">
        <ion-icon [name]="icons.SCOPE"></ion-icon>
        <ion-label>{{ routine.scope.toLowerCase() | titlecase }}</ion-label>
      </ion-chip>
      <!--<ion-chip (click)="updateDuration()">-->
      <!--<ion-icon [name]="icons.DURATION"></ion-icon>-->
      <!--<ion-label *ngIf="routine.duration">{{ routine.duration }}</ion-label>-->
      <!--</ion-chip>-->
    </ion-list>
    <div padding class="content" (click)="updateContent()">
      <markdown [data]="routine.content || '...'"></markdown>
    </div>
    <ion-list>
      <ion-item-divider color="light">
        <ion-icon [name]="icons.HABITS"></ion-icon>
        Habits
        <ion-icon item-right [name]="icons.ORDER" (click)="toggleReorder()" padding-right></ion-icon>
        <ion-icon item-right [name]="icons.CREATE" (click)="addHabits()"></ion-icon>
      </ion-item-divider>
      <habit-item *ngFor="let edge of routine.routineHabits.edges" [habit]="edge.node.habit" [showTracker]="true"></habit-item>
    </ion-list>
    <!--<ion-item-group *ngIf="routine.reminders.edges.length">-->
    <!--<ion-item-divider color="light">-->
    <!--<ion-icon [name]="icons.SCHEDULE"></ion-icon>-->
    <!--Reminders-->
    <!--</ion-item-divider>-->
    <!--<ion-item [id]="edge.node.id" *ngFor="let edge of routine.reminders.edges">-->
    <!--{{ edge.node.time }}-->
    <!--</ion-item>-->
    <!--</ion-item-group>-->
    <!--<ion-item-group *ngIf="routine.tracks.edges.length">-->
    <!--<ion-item-divider color="light">-->
    <!--&lt;!&ndash;<ion-icon [name]="icons.SCHEDULE"></ion-icon>&ndash;&gt;-->
    <!--Tracks-->
    <!--</ion-item-divider>-->
    <!--<ion-item [id]="edge.node.id" *ngFor="let edge of routine.tracks.edges">-->
    <!--{{ edge.node.created }}-->
    <!--</ion-item>-->
    <!--</ion-item-group>-->
  </div>
</ion-content>
