<div class="area-ratings">
  <div class="area-rating">
    <round-progress [current]="area1" max="100" rounded="true" responsive="true" [stroke]="30" [stroke]="30" color="#8BC34A"></round-progress>
    <ion-icon name="nutrition" color="area-1"></ion-icon>
  </div>
  <div class="area-rating">
    <ion-icon name="happy" color="area-2"></ion-icon>
    <round-progress [current]="area2" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon name="sunny" color="area-3"></ion-icon>
    <round-progress [current]="area3" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon name="heart" color="area-4"></ion-icon>
    <round-progress [current]="area4" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon name="megaphone" color="area-5"></ion-icon>
    <round-progress [current]="area5" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon name="bulb" color="area-6"></ion-icon>
    <round-progress [current]="area6" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon name="moon" color="area-7"></ion-icon>
    <round-progress [current]="area7" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
</div>
