<div class="area-ratings">
  <div class="area-rating">
    <round-progress [current]="area1" max="100" rounded="true" responsive="true" [stroke]="30" [stroke]="30" color="#8BC34A"></round-progress>
    <ion-icon [name]="icons.AREA2" color="area-1"></ion-icon>
  </div>
  <div class="area-rating">
    <ion-icon [name]="icons.AREA2" color="area-2"></ion-icon>
    <round-progress [current]="area2" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon [name]="icons.AREA3" color="area-3"></ion-icon>
    <round-progress [current]="area3" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon [name]="icons.AREA4" color="area-4"></ion-icon>
    <round-progress [current]="area4" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon [name]="icons.AREA5" color="area-5"></ion-icon>
    <round-progress [current]="area5" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon [name]="icons.AREA6" color="area-6"></ion-icon>
    <round-progress [current]="area6" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
  <div class="area-rating">
    <ion-icon [name]="icons.AREA7" color="area-7"></ion-icon>
    <round-progress [current]="area7" max="100" rounded="true" responsive="true" [stroke]="30" color="#8BC34A"></round-progress>
  </div>
</div>
