<ion-header>
  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <scope></scope>
      Interview
    </ion-title>
    <ion-buttons end>
      <!-- TODO: Fixing issue: The selectScope is needed because the ion-buttons stop click propagation somehow! -->
      <button ion-button icon-only (click)="selectScope()">
        <scope [showIcon]="true" [showText]="false"></scope>
      </button>
      <button ion-button icon-only [disabled]="!form.valid" (click)="save()" *ngIf="!(entry$ | async)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <scoped-date-picker></scoped-date-picker>
  <div class="interview" padding *ngIf="entry$ | async as entry; else noEntry">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <h1>
            <ion-icon name="happy" color="success"></ion-icon>
          </h1>
          <p>
            {{ entry.likes }}
          </p>
        </ion-col>
        <ion-col text-center>
          <h1>
            <ion-icon name="sad" color="danger"></ion-icon>
          </h1>
          <p>
            {{ entry.dislikes }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #noEntry>
    <form [formGroup]="form" (ngSubmit)="save()" *ngIf="scope$ | async as scope">
      <ion-item>
        <ion-label floating>What did you like this {{ scope }}?</ion-label>
        <ion-textarea formControlName="likes" fz-elastic></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>What did you dislike this {{ scope }}?</ion-label>
        <ion-textarea formControlName="dislikes" fz-elastic></ion-textarea>
      </ion-item>
    </form>
  </ng-template>
</ion-content>

<ion-footer>
  <app-toolbar app="studio"></app-toolbar>
</ion-footer>
