<ion-header>
  <ion-navbar color="arcade">
    <ion-title>Adventure</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="review()" *ngIf="!loading && adventure && !adventure.completed">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ng-container *ngIf="!loading && adventure">
    <ion-item no-lines>
      <h1 class="text-wrap">
        {{ adventure.name }}
      </h1>
      <p>
        {{ adventure.scope | titlecase }}
      </p>
      <h1 *ngIf="adventure.completed">
        <star-rating [rating]="adventure.rating"></star-rating>
      </h1>
      <ion-thumbnail class="thumbnail-contained" item-end>
        <img [src]="adventure.imageUrl">
      </ion-thumbnail>
    </ion-item>
    <div padding class="content">
      <markdown [data]="adventure.content"></markdown>
    </div>
    <ng-container *ngIf="adventure.completed">
      <ion-list *ngIf="adventure.reviews as reviews">
        <ion-item-divider color="light">
          <ion-icon name="star-outline"></ion-icon>
          Reviews {{ reviews.edges.length }}
        </ion-item-divider>
        <ng-container *ngFor="let edge of reviews?.edges">
          <ion-item *ngIf="edge.node as review">
            <ion-thumbnail class="thumbnail-contained" item-end>
              <img [src]="review.imageUrl">
            </ion-thumbnail>
            <p>{{ review.owner.name }}</p>
            <star-rating [rating]="review.rating"></star-rating>
            <div>
              <markdown [data]="review.content"></markdown>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>
