<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-item (click)="pushPage(profilePage)" menuClose color="primary" no-lines>
        <ion-avatar item-start>
          <img src="{{ viewer?.avatar }}">
        </ion-avatar>
        {{ viewer?.name }}
        <ion-icon *ngIf="unlocked" name="add" item-right (click)="quickadd($event)"></ion-icon>
      </ion-item>
    </ion-header>

    <ion-content *ngIf="!loading">
      <ion-list *ngIf="viewer?.id">
        <button menuClose ion-item *ngFor="let page of appPages; let i = index" (click)="openPage(page)" [disabled]="!i ? false: !unlocked" [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" [name]="page.icon" item-left [color]="page.color"></ion-icon>
          {{page.name}}
          <p>{{ page.region }}</p>
          <ion-icon *ngIf="!i ? false : !unlocked" [name]="icons.LOCKED" item-right color="mid"></ion-icon>
        </button>
      </ion-list>
      <ion-list *ngIf="!viewer?.id">
        <button menuClose ion-item *ngFor="let page of anonymousPages" (click)="openPage(page)" [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" [name]="page.icon" item-left [color]="page.color"></ion-icon>
          {{page.name}}
        </button>
      </ion-list>
      <ion-list *ngIf="viewer?.id">
        <hr>
        <button menuClose ion-item *ngFor="let page of projetPages" (click)="pushPage(page)"
                [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" [name]="page.icon" item-left [color]="page.color"></ion-icon>
          {{page.name}}
        </button>

      </ion-list>
      <ion-list *ngIf="viewer?.isStaff">
        <hr>
        <button menuClose ion-item *ngFor="let page of adminPages" (click)="pushPage(page)"
                [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" [name]="page.icon" item-left [color]="page.color"></ion-icon>
          {{page.name}}
        </button>

      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-item (click)="pushPage(feedbackPage)" menuClose color="primary" no-lines>
        <ion-icon [name]="feedbackPage.icon" item-left></ion-icon>
        {{feedbackPage.name}}
        <ion-icon [name]="projectPage.icon" item-right (click)="$event.stopPropagation(); pushPage(projectPage)" menuClose></ion-icon>
      </ion-item>
    </ion-footer>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav #nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
<hotkeys-cheatsheet></hotkeys-cheatsheet>
