// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Flip infinity icon horizontally.
ion-icon.ion-md-infinite {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

// Highlight active page in menu.
.main-menu-item.active {
  background-color: map-get($colors, light);
}

.ion-page ion-content {
  background-color: map-get($colors, background);
}

.content {
  background-color: white;
}

// User avatars
.person {
  position: relative;
  display: inline-block;
}
.name-tag {
  background: #fff;
  position: absolute;
  bottom: 4px; // TODO: fix -- no idea why?
  opacity: 0.9;
  width: 100%;
}
.chat-box {
  border-radius: 1rem;
}

// Glow effect
$glow_color: map-get($colors, success);
.glow {
  animation: pulse 2s infinite;
  &:hover {
    animation: none;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($glow_color, 0.4);
    //-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba($glow_color, 0);
    //-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($glow_color, 0);
    //-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($glow_color, 0.4);
    box-shadow: 0 0 0 0 rgba($glow_color, 0.4);
    //-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    //box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba($glow_color, 0);
    box-shadow: 0 0 0 10px rgba($glow_color, 0);
    //-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    //box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($glow_color, 0);
    box-shadow: 0 0 0 0 rgba($glow_color, 0);
    //-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    //box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
