// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/icons";
@import "./responsive-utilities";

// Flip infinity icon horizontally.
ion-icon.ion-md-infinite {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

// Highlight active page in menu.
.main-menu-item.active {
  background-color: color($colors, light);
}

.ion-page ion-content {
  background-color: color($colors, background);
}

.content {
  background-color: white;
}

.main-tabs {
  padding-bottom: 20px;
  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button ion-icon {
    margin-bottom: 0;
  }
  .title.text {
    text-transform: none;
  }
}

.multiline {
  white-space: pre-line;
}

.text-wrap {
  white-space: normal;
}

.input-text-wrap .select-text {
  white-space: normal;
}

.stacked {
  float: left;
}

.media-header {
  img {
    width: 100%;
  }
  &.includes-video {
    height: 62%;
  }
}

ion-thumbnail.thumbnail-contained {
  position: relative;
  img {
    height: initial;
    width: initial;
    max-width: 80px;
    max-height: 80px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.fab-bottom-spacer {
  padding-bottom: 60px;
}

// Modals
.modal-fullscreen {
  .modal-wrapper {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-height: 768px) and (min-width: 768px) {
  .modal-large {
    .modal-wrapper {
      top: calc(50% - (90% / 2));
      left: calc(50% - (90% / 2));
      display: block;
      width: 90%;
      height: 90%;
    }
  }
}

// User avatars
.person {
  position: relative;
  display: inline-block;
}

.name-tag {
  background: #fff;
  position: absolute;
  bottom: 4px; // TODO: fix -- no idea why?
  opacity: 0.9;
  width: 100%;
}

.chat-box {
  border-radius: 1rem;
}

// Glow effect
$glow_color: color($colors, success);
.glow {
  animation: pulse 2s infinite;
  &:hover {
    animation: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($glow_color, 0.4);
    //-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba($glow_color, 0);
    //-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($glow_color, 0);
    //-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($glow_color, 0.4);
    box-shadow: 0 0 0 0 rgba($glow_color, 0.4);
    //-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    //box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba($glow_color, 0);
    box-shadow: 0 0 0 10px rgba($glow_color, 0);
    //-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    //box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($glow_color, 0);
    box-shadow: 0 0 0 0 rgba($glow_color, 0);
    //-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    //box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

// simplemde fullscreen fix
simplemde {
  .editor-toolbar.fullscreen {
    top: 56px;
    z-index: 100;
  }
  .CodeMirror-fullscreen, .editor-preview-side {
    top: 106px;
  }
}
