<ion-split-pane>
  <ion-menu [content]="content" *ngIf="(authenticated$ | async)">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let page of apps" (click)="openPage(page)" [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left color="{{page.color}}"></ion-icon>
          {{page.name}}
        </button>

      </ion-list>
      <ion-list>
        <hr>
        <button menuClose ion-item *ngFor="let page of pages" (click)="pushPage(page)" [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left color="{{page.color}}"></ion-icon>
          {{page.name}}
        </button>

      </ion-list>
    </ion-content>

    <ion-footer>
      <button menuClose ion-item no-lines (click)="pushPage(feedbackPage)" color="{{feedbackPage.color}}">
        <ion-icon *ngIf="feedbackPage.icon" name="{{feedbackPage.icon}}" item-left></ion-icon>
        {{feedbackPage.name}}
      </button>
    </ion-footer>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
