<ion-split-pane>
  <ion-menu [content]="content" *ngIf="showMenu$ | async">
    <ion-header>
      <ion-toolbar no-padding>
        <ion-item no-lines color="primary" *ngIf="user$ | async as user" menuClose>
          <ion-avatar item-start (click)="pushPage(profilePage)">
            <img src="{{ user.image }}">
          </ion-avatar>
          <span (click)="pushPage(profilePage)">
              {{ user.name }}
          </span>
          <h1 ion-text item-end (click)="pushPage(projectPage)">
            <ion-icon [name]="projectPage.icon"></ion-icon>
            <!--colegend-->
          </h1>
        </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let page of appPages" (click)="openPage(page)" [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left color="{{page.color}}"></ion-icon>
          {{page.name}}
        </button>

      </ion-list>
      <ion-list>
        <hr>
        <button menuClose ion-item *ngFor="let page of projetPages" (click)="pushPage(page)"
                [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left color="{{page.color}}"></ion-icon>
          {{page.name}}
        </button>

      </ion-list>
      <ion-list *ngIf="(user$ | async)?.isAdmin">
        <hr>
        <button menuClose ion-item *ngFor="let page of adminPages" (click)="pushPage(page)"
                [class.main-menu-item]="true"
                [class.active]="checkActive(page)">
          <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left color="{{page.color}}"></ion-icon>
          {{page.name}}
        </button>

      </ion-list>
    </ion-content>

    <ion-footer>
      <button menuClose ion-item no-lines (click)="pushPage(feedbackPage)" color="primary">
        <ion-icon *ngIf="feedbackPage.icon" name="{{feedbackPage.icon}}" item-left></ion-icon>
        {{feedbackPage.name}}
      </button>
    </ion-footer>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav #nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
