<ion-header>
  <ion-navbar color="academy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Book Club</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="booksContent" side="right" id="books-filter-menu">
  <ion-toolbar>
    <ion-title>Filters</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-searchbar (ionInput)="search($event.target.value)" [debounce]="1000"></ion-searchbar>
    <ion-item class="tags-select">
      <ion-label>
        <ion-icon name="pricetags"></ion-icon>
        Tags
      </ion-label>
      <ion-select multiple="true" (ionChange)="editTags($event)" class="input-text-wrap">
        <ng-container *ngFor="let edge of tags?.edges">
          <ion-option *ngIf="edge.node as tag" [value]="tag.id">{{ tag.name }}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button (click)="hideFilters()">
        Close
      </button>
    </ion-item>
  </ion-list>
</ion-menu>

<ion-content #booksContent>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-item-divider color="light">
    Book of the Month
  </ion-item-divider>
  <ion-item *ngIf="!loading && featured as book" (click)="navCtrl.push('BookPage', {id: book.id})">
    <ion-thumbnail class="thumbnail-contained" item-start>
      <img [src]="book.imageUrl">
    </ion-thumbnail>
    <h2 class="book-title text-wrap">{{ book.name }}</h2>
    <p style="font-size: smaller">by {{ book.author }}</p>
    <h2>
      <star-rating [rating]="book.rating"></star-rating>
    </h2>
    <h1 item-right>
      <ion-icon [name]="book.reviewed ? 'checkmark-circle' : 'checkmark-circle-outline'"
                [color]="book.reviewed ? 'success' : 'light'"></ion-icon>
    </h1>
  </ion-item>
  <ion-item-divider color="light">
    <b>Colegend</b> books by <b>name</b>
    <ion-icon item-right name="funnel" (click)="showFilters()"></ion-icon>
  </ion-item-divider>
  <div>
    <ng-container *ngFor="let edge of books?.edges">
      <ion-item *ngIf="edge.node as book" (click)="navCtrl.push('BookPage', {id: book.id})">
        <ion-thumbnail class="thumbnail-contained" item-start>
          <img [src]="book.imageUrl">
        </ion-thumbnail>
        <h2 class="book-title">
          {{ book.name }}
        </h2>
        <p style="font-size: smaller">by {{ book.author }}</p>
        <h2 *ngIf="viewer.isPremium; else noRating">
          <star-rating [rating]="book.rating"></star-rating>
        </h2>
        <ng-template #noRating>
          <ion-icon [name]="icons.LOCKED" color="mid"></ion-icon>
          <star-rating [rating]="0"></star-rating>
        </ng-template>
        <h1 item-right>
          <ion-icon [name]="book.reviewed ? 'checkmark-circle' : 'checkmark-circle-outline'"
                    [color]="book.reviewed ? 'success' : 'light'"></ion-icon>
        </h1>
      </ion-item>
    </ng-container>
    <button ion-button *ngIf="hasNextPage" (click)="loadMore()" block clear color="mid">More</button>
  </div>
</ion-content>
