<ion-header>
  <ion-navbar color="office">
    <button ion-button menuToggle>
      <ion-icon [name]="icons.MENU"></ion-icon>
    </button>
    <ion-title>
      <scope [scope]="scope" (changed)="setScope($event)"></scope>
      Agenda
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon [name]="icons.STREAK"></ion-icon>
        <span ion-text>{{ streak }}</span>
      </button>
      <!-- TODO: Fixing issue: The selectScope is needed because the ion-buttons stop click propagation somehow! -->
      <button ion-button icon-only (click)="selectScope()">
        <scope [scope]="scope" [showIcon]="true" [showText]="false"></scope>
      </button>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon [name]="icons.MORE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <scoped-date-picker [scope]="scope" [date]="start" (dateChanged)="setDate($event)" (scopeChanged)="setScope($event)"></scoped-date-picker>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-item-group *ngIf="!loading">
    <focus *ngIf="focus; else noFocus" [id]="focus.id"></focus>
    <ng-template #noFocus>
      <ion-item-divider color="light">
        <ion-icon [name]="icons.FOCUS"></ion-icon>
        Focus
        <ion-icon item-right [name]="icons.CREATE" (click)="setFocus()" *ngIf="canCreateFocus"></ion-icon>
      </ion-item-divider>
      <div>
        <span *ngIf="canCreateFocus">
          <button ion-button icon-left clear full (click)="setFocus()">
            <ion-icon item-right [name]="icons.CREATE"></ion-icon>
            Set Focus
          </button>
        </span>
        <div *ngIf="!canCreateFocus" padding>
          No focus set.
        </div>
      </div>
    </ng-template>
  </ion-item-group>
  <ion-item-group *ngIf="!loading && scheduledOutcomes?.edges.length">
    <ion-item-divider color="light">
    <ion-icon [name]="icons.SCHEDULE"></ion-icon>
      Scheduled
    </ion-item-divider>
    <outcome [id]="edge.node.id" *ngFor="let edge of scheduledOutcomes?.edges"></outcome>
  </ion-item-group>
  <ion-item-group *ngIf="!loading && dueOutcomes?.edges.length">
    <ion-item-divider color="light">
      <ion-icon name="alarm"></ion-icon>
      Due
    </ion-item-divider>
    <outcome [id]="edge.node.id" *ngFor="let edge of dueOutcomes?.edges"></outcome>
  </ion-item-group>
  <ion-item-group *ngIf="!loading && overdueOutcomes?.edges.length">
    <ion-item-divider color="light">
      <ion-icon name="alarm"></ion-icon>
      Overdue
    </ion-item-divider>
    <outcome [id]="edge.node.id" *ngFor="let edge of overdueOutcomes?.edges"></outcome>
  </ion-item-group>
</ion-content>
