<ion-header>
  <ion-navbar color="office">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <scope></scope>
      Agenda
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <!-- TODO: Fixing issue: The selectScope is needed because the ion-buttons stop click propagation somehow! -->
      <button ion-button icon-only (click)="selectScope()">
        <scope [showIcon]="true" [showText]="false"></scope>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <scoped-date-picker></scoped-date-picker>
  <div *ngIf="loading"><ion-spinner></ion-spinner></div>
  <ion-item-group *ngIf="!loading">
    <focus *ngIf="focus$ | async as focus; else noFocus" [id]="focus.id"></focus>
    <ng-template #noFocus>
      <ion-item-divider color="light">
        <ion-icon name="locate"></ion-icon>
        Focus
        <ion-icon item-right name="create" (click)="update()" *ngIf="canCreateFocus$ | async"></ion-icon>
      </ion-item-divider>
      <div padding>
        No focus set.
      </div>
    </ng-template>
  </ion-item-group>
  <ion-item-group *ngIf="!loading">
    <ion-item-divider color="light">
      <ion-icon name="time"></ion-icon>
      Scheduled
    </ion-item-divider>
    <outcome [id]="edge.node.id" *ngFor="let edge of scheduledOutcomes?.edges"></outcome>
  </ion-item-group>
  <ion-item-group *ngIf="!loading">
    <ion-item-divider color="light">
      <ion-icon name="alarm"></ion-icon>
      Due
    </ion-item-divider>
    <outcome [id]="edge.node.id" *ngFor="let edge of dueOutcomes?.edges"></outcome>
  </ion-item-group>

</ion-content>

<ion-footer>
  <app-toolbar app="office"></app-toolbar>
</ion-footer>
