<ion-header>
  <ion-navbar color="office">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <scope [scope]="scope" (changed)="setScope($event)"></scope>
      Achievements
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <!-- TODO: Fixing issue: The selectScope is needed because the ion-buttons stop click propagation somehow! -->
      <button ion-button icon-only (click)="selectScope()">
        <scope [scope]="scope" [showIcon]="true" [showText]="false"></scope>
      </button>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <scoped-date-picker [scope]="scope" [date]="start" (scopeChanged)="setScope($event)" (dateChanged)="setDate($event)"></scoped-date-picker>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-item-group *ngIf="!loading">
    <ion-item-divider color="light">
      <ion-icon name="time"></ion-icon>
      Completed Outcomes
    </ion-item-divider>
    <outcome [id]="edge.node.id" *ngFor="let edge of outcomes?.edges"></outcome>
    <ion-item-divider color="light">
      <ion-icon name="time"></ion-icon>
      Completed Steps
    </ion-item-divider>
    <ng-container *ngFor="let edge of steps?.edges">
      <ion-item *ngIf="edge.node as step" (click)="navCtrl.push('OutcomePage', {id: step.outcome.id})">
        <ion-icon [name]="step.completedAt ? icons.STEP_CLOSED : icons.STEP_OPEN"
                  [color]="step.completedAt ? 'success' : 'light'" item-left></ion-icon>
        <span>{{step.name}}</span>
        <ion-icon [name]="icons.DELETE" color="mid" item-right></ion-icon>
      </ion-item>
    </ng-container>
  </ion-item-group>
</ion-content>
