<ion-header>
  <ion-navbar color="office">
    <ion-title>Outcome</ion-title>
    <ion-buttons end>
      <!--<button ion-button icon-only (click)="showLink()">-->
        <!--<ion-icon [name]="icons.LINK"></ion-icon>-->
      <!--</button>-->
      <button ion-button icon-only (click)="deleteOutcome()">
        <ion-icon [name]="icons.DELETE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="outcome" class="content">
    <ion-list no-lines>
      <outcome [id]="outcome.id" [details]="false"></outcome>
      <ion-list margin-left class="outcome-context">
        <ion-chip (click)="toggleInbox()">
          <ion-icon [name]="icons.INBOX"></ion-icon>
          <ion-label *ngIf="outcome.inbox">✓</ion-label>
        </ion-chip>
        <ion-chip (click)="chooseScope()">
          <ion-icon [name]="icons.SCOPE"></ion-icon>
          <ion-label>{{outcome.scope.toLowerCase() | titlecase }}</ion-label>
        </ion-chip>
        <ion-chip (click)="chooseStart()">
          <ion-icon [name]="icons.SCHEDULE"></ion-icon>
          <ion-label *ngIf="outcome.start">{{outcome.start | amDateFormat:'MMM DD'}}</ion-label>
        </ion-chip>
        <ion-chip (click)="chooseDeadline()">
          <ion-icon [name]="icons.DEADLINE"></ion-icon>
          <ion-label *ngIf="outcome.deadline">{{outcome.deadline | amDateFormat:'MMM DD'}}</ion-label>
        </ion-chip>
      </ion-list>
    </ion-list>
    <div class="outcome-content" padding-horizontal (click)="updateNotes()">
      <markdown [data]="outcome.description || '...'"></markdown>
    </div>
    <ion-item-divider color="light">
      <ion-icon [name]="icons.STEPS"></ion-icon>
      Steps {{ completedSteps }}/{{ steps.length }}
      <ion-icon item-right [name]="icons.ORDER" (click)="reorder = !reorder"></ion-icon>
    </ion-item-divider>
    <ion-item-group [reorder]="reorder" (ionItemReorder)="reorderSteps($event)">
      <ng-container *ngFor="let edge of outcome.steps?.edges">
        <ion-item *ngIf="edge.node as step">
          <ion-icon (click)="toggleStep(step.id)" [name]="step.completedAt ? icons.STEP_CLOSED : icons.STEP_OPEN"
                    [color]="step.completedAt ? 'success' : 'light'" item-left></ion-icon>
          <span (click)="renameStep(step.id, step.name)">{{step.name}}</span>
          <ion-icon (click)="deleteStep(step.id)" [name]="icons.DELETE" color="mid" item-right></ion-icon>
        </ion-item>
      </ng-container>
    </ion-item-group>
    <form [formGroup]="stepForm" (ngSubmit)="submitStep()">
      <ion-item (focusout)="submitStep()">
        <ion-icon [name]="icons.CREATE" color="mid" item-left></ion-icon>
        <ion-input formControlName="name" type="text" placeholder="Add step" item-inset-input inset></ion-input>
      </ion-item>
    </form>
    <ion-item-divider (click)="editTags()" color="light">
      <ion-icon [name]="icons.TAGS"></ion-icon>
      Tags {{ tags.length }}
      <ion-icon item-end [name]="icons.EDIT"></ion-icon>
    </ion-item-divider>
    <div padding>
      <ng-container *ngFor="let edge of outcome.tags?.edges">
        <tag *ngIf="edge.node as tag" [id]="tag.id" [name]="tag.name" (click)="navCtrl.push('TagPage', {id: tag.id})"
             [closable]="true" (closed)="removeTag(tag.id)"></tag>
      </ng-container>
    </div>
    <ion-item-divider (click)="setRelatedOutcomes()" color="light">
      <ion-icon [name]="icons.OUTCOMES"></ion-icon>
      Related Outcomes {{ outcome.relatedOutcomes?.edges.length }}
      <ion-icon item-end [name]="icons.EDIT"></ion-icon>
    </ion-item-divider>
    <ion-item-group>
      <ng-container *ngFor="let edge of outcome.relatedOutcomes?.edges">
        <outcome *ngIf="edge.node as outcome" [id]="outcome.id"></outcome>
      </ng-container>
    </ion-item-group>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only outline color="light">
        <ion-icon [name]="icons.MUSIC"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button clear class="player-display" block>
      <div class="player-display-label">
        <span text-capitalize>Session</span>:
        {{ currentTime / 60 | number : '2.0-0' }}:{{ currentTime % 60 | number : '2.0-0' }} /
        {{ duration / 60 | number : '2.0-0' }}:00
      </div>
        <progress-bar [value]="currentTime" [max]="duration" color="mid"></progress-bar>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="resetTimer()" *ngIf="currentTime" color="mid">
        <ion-icon [name]="icons.STOP"></ion-icon>
      </button>
      <button ion-button icon-only (click)="mute()" *ngIf="!muted" color="mid">
        <ion-icon [name]="icons.MUTE"></ion-icon>
      </button>
      <button ion-button icon-only (click)="unmute()" *ngIf="muted" color="mid">
        <ion-icon [name]="icons.UNMUTE"></ion-icon>
      </button>
      <button ion-button icon-only (click)="play()" *ngIf="paused" color="mid">
        <ion-icon [name]="icons.PLAY"></ion-icon>
      </button>
      <button ion-button icon-only (click)="pause()" *ngIf="!paused" color="mid">
        <ion-icon [name]="icons.PAUSE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
