page-outcome {
  button.player-display {
    .button-inner {
      flex-flow: column;
    }
    .player-display-label {
      padding-bottom: 0.5em;
    }
    progress-bar {
      font-size: 0.5em;
    }
  }
}
