<ion-header>

  <ion-navbar color="office">
    <ion-title>Outcome</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteOutcome()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="outcome" class="content">
    <ion-list no-lines>
      <outcome [id]="outcome.id" [details]="false"></outcome>
      <ion-list margin-left class="outcome-context">
        <ion-chip (click)="toggleInbox()">
          <ion-icon name="filing"></ion-icon>
          <ion-label *ngIf="outcome.inbox">✓</ion-label>
        </ion-chip>
        <ion-chip (click)="chooseScope()">
          <ion-icon name="aperture"></ion-icon>
          <ion-label>{{outcome.scope.toLowerCase() | titlecase }}</ion-label>
        </ion-chip>
        <ion-chip (click)="chooseStart()">
          <ion-icon name="time"></ion-icon>
          <ion-label *ngIf="outcome.start">{{outcome.start | amDateFormat:'MMM DD'}}</ion-label>
        </ion-chip>
        <ion-chip (click)="chooseDeadline()">
          <ion-icon name="alarm"></ion-icon>
          <ion-label *ngIf="outcome.deadline">{{outcome.deadline | amDateFormat:'MMM DD'}}</ion-label>
        </ion-chip>
      </ion-list>
    </ion-list>
    <div class="outcome-content" padding-horizontal (click)="updateNotes()">
      <markdown [data]="outcome.description || '...'"></markdown>
    </div>
    <ion-item-divider>
      <ion-icon name="checkbox-outline"></ion-icon>
      Steps {{ completedSteps }}/{{ totalSteps }}
    </ion-item-divider>
    <ion-list>
      <ng-container *ngFor="let edge of outcome.steps?.edges">
        <ion-item *ngIf="edge.node as step">
          <ion-icon (click)="toggleStep(step.id)" [name]="step.completedAt ? 'checkbox' : 'square-outline'"
                    [color]="step.completedAt ? 'success' : 'light'" item-left></ion-icon>
          <span (click)="renameStep(step.id, step.name)">{{step.name}}</span>
          <ion-icon (click)="deleteStep(step.id)" name="trash" color="light" item-right></ion-icon>
        </ion-item>
      </ng-container>
      <form [formGroup]="stepForm" (ngSubmit)="submitStep()">
        <ion-item>
          <ion-icon name="square-outline" color="light" item-left></ion-icon>
          <ion-input formControlName="name" type="text" placeholder="Add step" item-inset-input inset></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <ion-item-divider>
      <ion-icon name="pricetags"></ion-icon>
      Tags {{ totalTags }}
      <ion-icon (click)="editTags()" item-end name="create"></ion-icon>
    </ion-item-divider>
    <ng-container *ngFor="let edge of outcome.tags?.edges">
      <button ion-item *ngIf="edge.node as tag" icon-start (click)="navCtrl.push('TagPage', {id: tag.id})">
        <ion-icon name="pricetag" color="mid"></ion-icon>
        {{ tag.name}}
      </button>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only outline color="light">
        <ion-icon name="musical-note"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button clear><span text-capitalize>Session</span>: {{ currentTime / 60 | number : '2.0-0' }}:{{
      currentTime % 60 | number : '2.0-0' }} / 24:00
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="mute()" *ngIf="!muted">
        <ion-icon name="volume-off"></ion-icon>
      </button>
      <button ion-button icon-only (click)="unmute()" *ngIf="muted">
        <ion-icon name="volume-up"></ion-icon>
      </button>
      <button ion-button icon-only (click)="play()" *ngIf="paused">
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button icon-only (click)="pause()" *ngIf="!paused">
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
