<ion-header>

  <ion-navbar color="primary">
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngFor="let edge of events">
    <ion-card color="area-4" *ngIf="!loading && edge.node as event" (click)="navCtrl.push('EventPage', {id: event.id})">
      <img src="{{ event.imageUrl }}"/>
      <ion-card-content>
        <ion-card-title icon-left>
          <ion-icon name="calendar"></ion-icon>
          {{ event.name }}
        </ion-card-title>
        <p>
          {{ event.start | date:'fullDate' }}
          <span *ngIf="event.location">@{{ event.location }}</span>
        </p>
        <p class="multiline">{{ event.description }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
