<ion-item-sliding class="outcome" *ngIf="outcome">
  <ion-item>
    <status [status]="outcome.status" (changed)="setStatus($event)" item-left></status>
    <div (click)="showDetails()">
      <span (click)="clickedTitle($event)">{{outcome.name}}</span>
      <p [style.visibility]="!details ? 'hidden' : 'visible'">
        <ion-grid class="outcome-context">
          <ion-row>
            <ion-col width-10>
              <ion-icon name="filing" *ngIf="outcome.inbox"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon name="aperture"></ion-icon>
              {{outcome.scope?.toLowerCase() | titlecase }}
            </ion-col>
            <ion-col>
              <div *ngIf="outcome.start">
                <ion-icon name="time"></ion-icon>
                {{outcome.start | amDateFormat:'MMM DD'}}
              </div>
            </ion-col>
            <ion-col>
              <div *ngIf="outcome.deadline">
                <ion-icon name="alarm"></ion-icon>
                {{outcome.deadline | amDateFormat:'MMM DD'}}
              </div>
            </ion-col>
            <ion-col>
              <div *ngIf="outcome.steps">
                <ion-icon name="checkbox-outline"></ion-icon>
                {{doneSteps}}/{{outcome.steps?.length}}
              </div>
            </ion-col>
            <ion-col width-10>
              <ion-icon name="text" *ngIf="outcome.description"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </p>
    </div>
    <ion-icon *ngIf="showStar" [name]="outcome.isFocus ? 'star' : 'star-outline'" item-right [color]="outcome.isFocus ? 'office' : 'light'" (click)="star()"></ion-icon>
    <ion-icon *ngIf="showSelection" name="checkmark" color="mid" item-right (click)="select()"></ion-icon>
  </ion-item>
  <ion-item-options *ngIf="details" class="outcome-options">
    <button ion-button color="danger" class="option option-delete" (click)="delete()">
      <ion-icon name="trash"></ion-icon>
      Delete
    </button>
  </ion-item-options>
</ion-item-sliding>
