<ion-header>
  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Journal Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event.target.value)" [debounce]="1000"></ion-searchbar>
    <journal-entry-item [entry]="edge.node" *ngFor="let edge of entries?.edges"></journal-entry-item>
  <button ion-button *ngIf="hasNextPage" (click)="loadMore()" block clear color="mid">More ({{ entries?.edges.length }}/{{ entries?.totalCount }})</button>
</ion-content>
