<ion-header>
  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Journal Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event.target.value)" [debounce]="1000"></ion-searchbar>
  <ng-container *ngFor="let edge of entries?.edges">
    <ion-item *ngIf="edge.node as entry" (click)="openEntry(entry.id)">
      <small item-left [ngSwitch]="entry.scope.toLowerCase()" class="date-info" text-center>
        <span ion-text *ngSwitchCase="'day'" color="mid">
          Day<br>
        </span>
        <span *ngSwitchCase="'week'" ion-text color="mid">
          Week<br>
        </span>
        <span *ngSwitchCase="'month'" ion-text color="mid">
          Month<br>
        </span>
        <span ion-text color="mid">
        {{ entry.start | amDateFormat:'YYYY-MM-DD' }}
        </span>
      </small>
      <span ion-text class="text-wrap">{{ entry.keywords }}</span>
    </ion-item>
  </ng-container>
  <button ion-button *ngIf="hasNextPage" (click)="loadMore()" block clear color="mid">More</button>
</ion-content>
