<ion-header>

  <ion-navbar color="journey">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hero</ion-title>
    <ion-buttons end>
      <ion-badge>last update: {{ lastUpdated$ | async | amTimeAgo }}</ion-badge>
      <button ion-button icon-only (click)="edit()" *ngIf="!editing">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="save()" *ngIf="editing">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!editing" (click)="edit()" padding>
    <span *ngIf="loading$ | async">loading..</span>
    <markdown [data]="(content$ | async) || ''" *ngIf="!(loading$ | async)"></markdown>
  </div>
  <div *ngIf="editing">
    <simplemde [ngModel]="content$ | async" (ngModelChange)="update($event)"></simplemde>
  </div>
</ion-content>

<ion-footer>
  <app-toolbar app="journey"></app-toolbar>
</ion-footer>
