<ion-header>

  <ion-navbar color="journey">
    <ion-title>Prologue</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="skip()">
        <ion-icon [hidden]="actionVisible" name="fastforward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding-horizontal>
    <typewriter (done)="showAction()" (changed)="scrollToBottom()" debounce="1000">
      <p>
        <span class='story-initial-letter'>O</span>nce upon a time .<tw-pause ms="500"></tw-pause> .<tw-pause ms="500"></tw-pause> .<tw-pause ms="1000"></tw-pause> <br>
        somewhere <span *ngIf="country; else noCountry">in {{ country }}</span><ng-template #noCountry>on planet earth</ng-template> <tw-pause ms="500"></tw-pause>
        on a <i>special</i> <tw-pause ms="200"></tw-pause>{{ weekday }} {{ timeOfDay }}...<tw-pause ms="1000"></tw-pause>
        <br>
        Not knowing what exactly to expect,<tw-pause ms="200"></tw-pause> a courageous person has decided to take action and leap into<tw-pause ms="500"></tw-pause>
        a new world. <br>
        A magical one it turns out...<tw-pause ms="500"></tw-pause> <br>
        Where<tw-pause ms="400"></tw-pause> both <i>heroes</i> and <i>demons</i> can celebrate.<tw-pause ms="400"></tw-pause> <br>
        Where<tw-pause ms="400"></tw-pause> matters of right or wrong are cast aside in favor of mutual interest.<tw-pause ms="400"></tw-pause> <br>
        Where<tw-pause ms="400"></tw-pause> instead of defending their point of view, they name their needs and ask for support.<tw-pause ms="400"></tw-pause> <br>
        Where<tw-pause ms="400"></tw-pause> loneliness is merely an option that can be chosen at will.<tw-pause ms="400"></tw-pause> <br>
        Where<tw-pause ms="400"></tw-pause> every person is a designer and author of life.<tw-pause ms="400"></tw-pause> <br>
        <br>
        <span ion-text color="mid">
          [You start to wonder<tw-pause ms="100"></tw-pause> what<tw-pause ms="200"></tw-pause> he<tw-pause ms="100"></tw-pause>?<tw-pause ms="200"></tw-pause> or<tw-pause ms="100"></tw-pause> she<tw-pause ms="100"></tw-pause>?<tw-pause ms="200"></tw-pause> is talking about.]<tw-pause ms="300"></tw-pause> <br>
        </span>
        <br>
        According to the prophecy more and more "Legends" will awake over time.
        The fact that you, <tw-speed ms="400"></tw-speed><strong>{{ name | titlecase }}</strong><tw-speed></tw-speed>, found your way here is a good sign that you are one of them.
        <br>
        The time has come to open eyes and heart to a new life experience<tw-pause ms="500"></tw-pause> and a new way of community.<br>
      </p>
    </typewriter>
    <button ion-button *ngIf="actionVisible" (click)="continue()">View First Quest</button>
  </div>
  <br>
  <br>
</ion-content>

