<ion-header>

  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <scope></scope>
      Journal
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <!-- TODO: Fixing issue: The selectScope is needed because the ion-buttons stop click propagation somehow! -->
      <button ion-button icon-only (click)="selectScope()">
        <scope [showIcon]="true" [showText]="false"></scope>
      </button>
      <button ion-button icon-only (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </button>
      <!--<button ion-button icon-only>-->
      <!--<ion-icon name="more"></ion-icon>-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <scoped-date-picker></scoped-date-picker>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div class="journal" padding *ngIf="entry$ | async as entry" (click)="edit()">
    <span ion-text color="background-dark" class="keywords">{{ entry.keywords }}</span>
    <markdown [data]="entry.content"></markdown>
  </div>
</ion-content>

<ion-footer>
  <app-toolbar app="studio"></app-toolbar>
</ion-footer>
