<ion-header>
  <ion-navbar color="studio">
    <button ion-button menuToggle>
      <ion-icon [name]="icons.MENU"></ion-icon>
    </button>
    <ion-title>
      <scope [scope]="scope" (changed)="setScope($event)"></scope>
      Journal
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon [name]="icons.STREAK" color="area-3"></ion-icon>
        <span ion-text color="area-3">{{ streak }}</span>
      </button>
      <button ion-button icon-only (click)="search()">
        <ion-icon [name]="icons.SEARCH"></ion-icon>
      </button>
      <!-- TODO: Fixing issue: The selectScope is needed because the ion-buttons stop click propagation somehow! -->
      <button ion-button icon-only (click)="selectScope()">
        <scope [scope]="scope" [showIcon]="true" [showText]="false"></scope>
      </button>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon [name]="icons.MORE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content (swipe)="swipeEvent($event)">
  <scoped-date-picker [scope]="scope" [date]="start" (dateChanged)="setDate($event)" (scopeChanged)="setScope($event)"></scoped-date-picker>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div class="journal" padding (click)="edit()" *ngIf="!loading">
    <ng-container *ngIf="entry; else noEntry">
      <span ion-text color="background-dark" class="keywords">{{ entry.keywords }}</span>
      <markdown [data]="entry.content"></markdown>
    </ng-container>
    <ng-template #noEntry>
      <ion-icon [name]="icons.CREATE" color="background-dark"></ion-icon>
    </ng-template>
  </div>
  <journal-entries-overview [scope]="scope" [start]="start"></journal-entries-overview>
</ion-content>
