<ion-header>
  <ion-navbar color="office">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()" class="close-button">
        <ion-icon [name]="icons.CLOSE"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Select Outcome<span *ngIf="multiple">s</span>
      <span *ngIf="selectMax">{{ selectedIds.length }}/{{ selectMax }}</span>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="showFilters()" class="filter-button">
        <ion-icon [name]="icons.FILTER"></ion-icon>
      </button>
      <button *ngIf="multiple" [disabled]="selectMin && selectedIds.length < selectMin" ion-button icon-only (click)="save()">
        <ion-icon [name]="icons.SAVE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="outcomeSelectContent" side="right" id="outcome-select-filter-menu">
  <ion-toolbar>
    <ion-title>Filters</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-searchbar (ionInput)="search($event.target.value)" [debounce]="1000"></ion-searchbar>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select class="outcome-status-select" [ngModel]="status$.value" (ionChange)="setStatus($event.valueOf())">
        <ion-option value="{{undefined}}" [selected]="!status$.value">any</ion-option>
        <ion-option value="{{status}}" *ngFor="let status of statuses">{{status}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Scope</ion-label>
      <ion-select class="outcome-scope-select" [ngModel]="scope$.value" (ionChange)="setScope($event.valueOf())">
        <ion-option value="{{undefined}}" [selected]="!scope$.value">any</ion-option>
        <ion-option value="{{scope}}" *ngFor="let scope of scopes">{{scope}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="tags-select">
      <ion-label>
        <ion-icon [name]="icons.TAGS"></ion-icon>
        Tags
      </ion-label>
      <ion-select multiple="true" (ionChange)="editTags($event)" class="input-text-wrap">
        <ng-container *ngFor="let edge of tags?.edges">
          <ion-option *ngIf="edge.node as tag" [value]="tag.id">{{ tag.name }}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Order</ion-label>
      <ion-select class="outcome-order-select" [ngModel]="order$.value" (ionChange)="setOrder($event.valueOf())">
        <ion-option value="{{undefined}}" [selected]="!order$.value">priority</ion-option>
        <ion-option value="-modified">modification</ion-option>
        <ion-option value="-created">creation</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button (click)="hideFilters()">
        Close
      </button>
    </ion-item>
  </ion-list>
</ion-menu>

<ion-content #outcomeSelectContent>
  <div *ngIf="outcomes">
    <ion-list>
      <ion-item class="item-wrapper" *ngFor="let edge of outcomes.edges" [hidden]="isHidden(edge.node.id)">
        <outcome *ngIf="edge.node as outcome" [id]="outcome.id" (tap)="select(outcome.id)"></outcome>
        <ion-icon (click)="$event.stopPropagation(); select(edge.node.id)" item-right [name]="icons.SELECT" [color]="isSelected(edge.node.id) ? 'success' : 'mid'"></ion-icon>
        <!--<button item-right ion-button clear icon-only (click)="$event.stopPropagation(); select(edge.node.id)">-->
          <!--<ion-icon [name]="icons.SELECT" [color]="isSelected(edge.node.id) ? 'success' : 'mid'"></ion-icon>-->
        <!--</button>-->
      </ion-item>
      <button ion-button *ngIf="hasNextPage" (click)="loadMore()" block clear color="mid">More</button>
    </ion-list>
  </div>
  <div class="fab-bottom-spacer"></div>
  <ion-fab bottom right>
    <button ion-fab (click)="newOutcome()" class="quickadd-button">
      <ion-icon [name]="icons.CREATE"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
