<ion-header>
  <ion-navbar color="community">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mentor</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loading; else loadingMsg">
    <user-item [userId]="mentor.id" *ngIf="mentor; else noMentor"></user-item>
    <ng-template #noMentor>
    <p padding *ngIf="isPremium">
      Please contact the colegend team to assign you a mentor. :)
    </p>
    <p padding *ngIf="!isPremium">
      Upgrade to Premium to get your personal mentor.
    </p>
    </ng-template>
  </ng-container>
  <ng-template #loadingMsg>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>
