page-legend-creation-name {
  .person {
    position: relative;
    display: inline-block;
  }
  .name-tag {
    background: #fff;
    position: absolute;
    bottom: 0;
    opacity: 0.9;
    width: 100%;
  }
  .chat-box {
    border-radius: 1rem;
  }
}
