<ion-header>
  <ion-navbar color="office">
    <ion-title>
      {{ focus?.id ? "Update" : "Set"}} Focus
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="validateFocus(form)" (click)="toggleOrdering()">
        <ion-icon [name]="icons.ORDER"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="!form?.valid" (click)="save()">
        <ion-icon [name]="icons.SAVE"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <form [formGroup]="form" (ngSubmit)="save()" *ngIf="!loading">
    <ion-item-divider color="light">
      <ion-icon [name]="icons.FOCUS"></ion-icon>
      <scoped-date [scope]="focus?.scope | lowercase" [date]="focus?.start"></scoped-date>
    </ion-item-divider>
    <ion-list [reorder]="ordering" (ionItemReorder)="reorder($event)" no-margin>
      <ion-item class="item-wrapper">
        <outcome-input formControlName="outcome1" [excludedIds]="excludedIds"></outcome-input>
        <ion-icon (click)="reset(0)" item-end *ngIf="!ordering && form.value.outcome1" color="mid" [name]="icons.CLOSE"></ion-icon>
      </ion-item>
      <ion-item class="item-wrapper">
        <outcome-input formControlName="outcome2" [excludedIds]="excludedIds"></outcome-input>
        <ion-icon (click)="reset(1)" item-end *ngIf="!ordering && form.value.outcome2" color="mid" [name]="icons.CLOSE"></ion-icon>
      </ion-item>
      <ion-item class="item-wrapper">
        <outcome-input formControlName="outcome3" [excludedIds]="excludedIds"></outcome-input>
        <ion-icon (click)="reset(2)" item-end *ngIf="!ordering && form.value.outcome3" color="mid" [name]="icons.CLOSE"></ion-icon>
      </ion-item>
      <ion-item class="item-wrapper">
        <outcome-input formControlName="outcome4" [excludedIds]="excludedIds"></outcome-input>
        <ion-icon (click)="reset(3)" item-end *ngIf="!ordering && form.value.outcome4" color="mid" [name]="icons.CLOSE"></ion-icon>
      </ion-item>
      <ion-item *ngIf="focus?.id">
        <ion-label floating>Reason for update</ion-label>
        <ion-textarea formControlName="reason" fz-elastic></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
  <p padding-horizontal>
    What do I want to focus on?<br>
    What would be legendary?
  </p>
</ion-content>
