<ion-header>

  <ion-navbar color="office">
    <ion-title>
      {{ focus?.id ? "Update" : "Set"}} Focus
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="validateFocus(form)" (click)="toggleOrdering()">
        <ion-icon name="reorder"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="!form?.valid" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()" *ngIf="!loading">
    <ion-item-divider color="light">
      <ion-icon name="locate"></ion-icon>
      {{ focus?.scope | titlecase }} {{ focus?.start }} {{ focus?.end }}
    </ion-item-divider>
    <ion-item-group [reorder]="ordering" (ionItemReorder)="reorder($event)">
      <ion-item class="wrapper">
        <outcome-input formControlName="outcome1"></outcome-input>
        <ion-icon (click)="reset(0)" item-end *ngIf="!ordering && form.value.outcome1" color="mid" name="close"></ion-icon>
      </ion-item>
      <ion-item class="wrapper">
        <outcome-input formControlName="outcome2"></outcome-input>
        <ion-icon (click)="reset(1)" item-end *ngIf="!ordering && form.value.outcome2" color="mid" name="close"></ion-icon>
      </ion-item>
      <ion-item class="wrapper">
        <outcome-input formControlName="outcome3"></outcome-input>
        <ion-icon (click)="reset(2)" item-end *ngIf="!ordering && form.value.outcome3" color="mid" name="close"></ion-icon>
      </ion-item>
      <ion-item class="wrapper">
        <outcome-input formControlName="outcome4"></outcome-input>
        <ion-icon (click)="reset(3)" item-end *ngIf="!ordering && form.value.outcome4" color="mid" name="close"></ion-icon>
      </ion-item>
      <ion-item *ngIf="focus.id">
        <ion-label floating>Reason for update</ion-label>
        <ion-textarea formControlName="reason" fz-elastic></ion-textarea>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>
