<ion-header>

  <ion-navbar color="office">
    <ion-title *ngIf="focus">{{ focus.scope?.toLowerCase() | titlecase }} Focus {{ focus.start }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="!loading && focus">
    <user-item [userId]="focus.owner?.id"></user-item>
    <div>
      <outcome [outcome]="focus.outcome1" *ngIf="focus.outcome1"></outcome>
      <outcome [outcome]="focus.outcome2" *ngIf="focus.outcome2"></outcome>
      <outcome [outcome]="focus.outcome3" *ngIf="focus.outcome3"></outcome>
      <outcome [outcome]="focus.outcome4" *ngIf="focus.outcome4"></outcome>
    </div>
  </div>
</ion-content>
