<ion-spinner *ngIf="loading"></ion-spinner>
<super-tabs *ngIf="!loading" class="main-tabs" tabsPlacement="bottom" toolbarBackground="academy" toolbarColor="light" indicatorColor="light" [config]="{ sideMenu: 'both'}">
  <super-tab root="CoursesPage" title="Courses" icon="ribbon" tabUrlPath="courses-tab"></super-tab>
  <super-tab root="BookClubPage" title="Book club" icon="bookmark" tabUrlPath="book-club-tab"></super-tab>
  <super-tab root="ResourcesPage" title="Resources" icon="bookmarks" tabUrlPath="resources-tab"></super-tab>
</super-tabs>
<app-toolbar app="academy"></app-toolbar>
