<ion-header>

  <ion-navbar color="area-6">
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngIf="news">
    <div class="media-header content" *ngIf="news.imageUrl || news.videoUrl" text-center [style.background-image]="'url(' + news.imageUrl + ')'">
      <iframe *ngIf="news.videoUrl" style="width: 100%; height: 100%"
              [src]="'https://www.youtube.com/embed/' + news.videoUrl.split('v=').pop() | safe: 'resourceUrl'" frameborder="0"
              allowfullscreen></iframe>
    </div>
    <ion-item no-lines>
      <h1>
        <ion-icon name="paper"></ion-icon>
        {{ news.name }}
      </h1>
      <p>
        {{ news.date | date:'fullDate' }}
        <span *ngIf="news.author">by {{ news.author.name}}</span>
      </p>
      <p class="multiline">{{ news.description }}</p>
    </ion-item>
    <div padding class="content">
      <markdown [data]="news.content"></markdown>
    </div>
  </ng-container>
</ion-content>
